<div id="<%= @widget_id %>" class="panel panel-default dashboard-widget">
  <div class="panel-heading">
    <%= icon_tag(@icon_class) %>
    <%= @title %>
  </div>
  <div class="panel-body">
    <%= render partial: @partial %>
  </div>
</div>