<!DOCTYPE html>
<html>
<head>
  <title>Canto - Task Management for Classical Singers</title>
  <meta charset="UTF-8">
  <script type='text/javascript' src='../jst.js'></script>
  <%= js :application %>
  <%= css :application %>
</head>
<body>
  <h1>Hello Canto!</h1>
</body>
</html>