<h1>Listing tasks</h1>

<% unless @tasks.length > 0 %>
  <p>No tasks! <%= link_to 'Create one', new_task_path %></p>
<% else %>
  <%= render 'task_list' %>
<% end %>

<br>

<%= link_to 'New Task', new_task_path %>
