<h1 class="page-header">Listing tasks</h1>

<% unless @tasks.length > 0 %>
  <p class="notice">No tasks! <%= link_to 'Create one', new_task_path %></p>
<% else %>
  <%= render @tasks, as: :task %>
<% end %>

<br>

<%= link_to 'New Task', new_task_path %>
