<!DOCTYPE html>
<html>

<form id='new-task' action='/tasks' method='post'>
  <label for='title'>Title</label>
  <input type='text' name='task[title]'><br />
  <label for='complete'>Complete</label>
  <input type='checkbox' name='task[complete]' value='0'><br />
  <input type='submit' value='Create'>
</form>

</html>