// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard-widget {
  display: inline-block;
  width: auto;
  margin-top: 30px;

  table {
    max-width: 100%;
  }
}

#dashboard-todo-list {
  min-width: 30%;
  max-width: 50%;
}